
header {
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
}



.header_left_div {

}


.header_right_div {
    /* background-color: red; */
    padding: 20px 0px;
}